<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51844319610-0lga8nvrdi5v8sva6kralu5v8gjbc860.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51844319610-0lga8nvrdi5v8sva6kralu5v8gjbc860</string>
	<key>API_KEY</key>
	<string>AIzaSyD2L6MqearC30vb64uBUb4ZeMvHYFo2FXI</string>
	<key>GCM_SENDER_ID</key>
	<string>51844319610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.peterfriese.MakeItSo2</string>
	<key>PROJECT_ID</key>
	<string>peterfriese-makeitso-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>peterfriese-makeitso-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51844319610:ios:4ab8a84109219d978b6ec3</string>
	<key>DATABASE_URL</key>
	<string>https://peterfriese-makeitso-sandbox.firebaseio.com</string>
</dict>
</plist>